.wrapper {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.textarea {
  resize: none;
}

.left {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
}


.container {
  box-shadow: 0px 0px 5px 2px #888888;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
  height: 600px ;
  border: 1px solid #5465ff;
  margin-bottom: 2vh;
}

.mat-form-field {
  width: 350px;
}


.button-row {
  display:flex;
  margin-bottom: 20px;
  width: 1080px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.minifab {
  margin-left: 30px;
}

/* upload-file.component.css */

.file-upload-container {
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

input {
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

.file-wrapper {
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.attachments-button {
  margin-left: 100px;
  height: 100px;
  width: 150px;
}

